## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
publish/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## .NET
project.lock.json
project.fragment.lock.json
artifacts/

## Sensitive files
*.pem
*.key
appsettings.Development.json

## Temp/test projects
decrypt-test/
